body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(255, 245, 232) ;
    text-align: center;
    padding: 50px;
}

h2{
    color: #333;
}

.star-rating{
    direction: rtl;
    display: inline-flex;
    font-size: 40px;
}
.star-rating input{
    display: none;
}

.star-rating label {
    color: #ccc;
    cursor: pointer;
    transition: color 0.2s;
}

.star-rating input:checked ~ label, 
.star-rating label:hover,
.star-rating label:hover ~ label {
    color: gold;
}

textarea {
    width: 100%;
    max-width: 400px;
    margin-top: 15px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button{
    margin-top: 15px;
    padding: 10px 20px;
    background: #005f99;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background: #004466;
}

.resultado {
    margin-top: 20px;
    font-weight: bold;
    color: #005f99;
}