body{
    background: linear-gradient( rgba(224, 171, 46, 0.6), rgba(243, 234, 242, 0.466)),
    url("logo.png") no-repeat center center  fixed;
    background-size: cover;
    
}
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
} 

.login Form{
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 300px;
    display: flex;
    flex-direction: column;
}

.login h2{
    text-align:center ;
    margin-bottom: 20px ;
}

.login input{
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login button{
    background: #667eea;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: 0.35;
}
.login button:hover{
    background: #5563c1;
}
