*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background: #005f99;
    color: white;
    text-align: center;
    padding: 20px;
    transition: 0.3s;
}

nav ul {list-style: none;}
nav ul li {display: inline-block; margin: 0 15px;}

nav ul a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background: #ffdd57;
    color: #333;
    transform: scale(1.1);
}

nav{
position: fixed;
top: 0;
z-index: 1000;
margin-top: 20px;
padding: 10px;
box-shadow: 0px 7px 10px rgba(0,0,0,0.2);
}