body{
    background-color: rgb(255, 245, 232) ;
    padding: 0%;
    margin: auto;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    min-height: 70px;
    background-image: linear-gradient(to bottom, #444, #222);
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    padding: 20px;
    
}
header h1{
    font-size: 3em;
    padding-bottom: 10px;
    text-shadow: 2px 2px 4px rpga(0,0,0,0.5);
}

header h1:hover{
    transform: scale(1.1);
    transition: 0.3s, 0.5s;
}
header p {
    max-width: 500px;
    margin: auto;
    font-size: 1.2em;
    padding: 0 10px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);

}
.fixed{
    position: fixed;
    top: 0px;
    z-index: 1000;
    margin-top: 0px;
    padding: 10px;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.2);
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav ul li{
    display: inline-block;
    margin: 0 15px;
}
nav ul li a {
    color: whitesmoke;
    text-align: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s;
    font-weight: bold;
}
nav ul li a:hover {
    background-color: #666;
    color: #fff;
}


main{
    max-width: 1200px;
    min-width: 320px;
    margin: 250px;
    padding-top: 150px;
}

p{
    text-align: center;

}

img{
    margin: auto;
    
    
}
.logo{
    height: 100px;
    width: 100px;
}
h1{
    color: white;
   
}
h2{
    color: black;
    text-align: center;
}

  
#TopBtn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: #00bcd4;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    display: none;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}
#TopBtn:hover{
    background: #0097a7;
}

.botao {
    display: inline-block;
    width: 250px;
    height: 100px;
    background-color: #00bcd4;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.botao{
    opacity: 0.8;
    transform: scale(1.05);
}

.botao2 {
    display: inline-block;
    width: 250px;
    height: 100px;
    background-color: #ff72c7;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.botao2 {
    opacity: 10;
    transform: scale(1.05);
}


.botao4 {
    display: inline-block;
    width: 250px;
    height: 100px;
    background-color: #531bb5;;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.botao4 {
    opacity: 10;
    transform: scale(1.05);
}

.botao5 {
    display: inline-block;
    width: 250px;
    height: 100px;
    background-color: #da1313;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.botao5 {
    opacity: 10;
    transform: scale(1.05);
}

.botao6 {
    display: inline-block;
    width: 250px;
    height: 100px;
    background-color: #f5971b;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.botao6 {
    opacity: 10;
    transform: scale(1.05);
}

.botao7 {
    display: inline-block;
    width: 250px;
    height: 100px;
    background-color: #f1f824;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.botao7 {
    opacity: 10;
    transform: scale(1.05);
}

.botao8 {
    display: inline-block;
    width: 250px;
    height: 100px;
    background-color: #27f361;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.botao8 {
    opacity: 10;
    transform: scale(1.05);
}

.botao9 {
    display: inline-block;
    width: 250px;
    height: 100px;
    background-color: #03ffcd;
    background-size: cover;
    background-position: center;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.botao9 {
    opacity: 10;
    transform: scale(1.05);
}



footer {
    text-align: center;
    background: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    margin-top: 20px;
  }

  a{
    display: flex;
    margin: 20px;
    padding: 0.8px;
  }
  
  .arq{
    color: black;
    text-align: center;
  }

  .galeria{
	display: flex;
	gap: 20px; 
	flex-wrap: wrap;
	justify-content: center;
}

.card{
	width: 200px;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 10px;
	padding: 10px;
	background-color: #f9f9f9;
}

.card img{
	width:100% ;
	height: auto;
	border-radius: 8px;
}

.card p {
	margin-top: 10px;
	font-size: 14px;
	color: #333;
}

.card:hover{
	transform: translate y(-10px) scale(1.05);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3)
}

iframe{
    height: 1432px;
    width: 3000px;
    text-align: center;
}